
# root

/
/*
!/.gitignore


# admin

/admin/**/*
!/admin/
!/admin/lang
!/admin/lang/overrides
!/admin/lang/overrides/*


# includes

/includes/**/*
!includes/
!includes/hooks
!includes/hooks/ifthenpay.php


# lang

/lang/**/*
!lang/
!lang/overrides
!lang/overrides/*


#modules

/modules/**/*
!modules/
!modules/gateways
!modules/gateways/callback
!modules/gateways/callback/ccard.php
!modules/gateways/callback/mbway.php
!modules/gateways/callback/multibanco.php
!modules/gateways/callback/payshop.php

!modules/gateways/ifthenpay
!modules/gateways/ifthenpay/*

!modules/gateways/ifthenpay/css
!modules/gateways/ifthenpay/css/*
!modules/gateways/ifthenpay/js
!modules/gateways/ifthenpay/js/*
!modules/gateways/ifthenpay/lib
!modules/gateways/ifthenpay/lib/*
!modules/gateways/ifthenpay/lib/Base
!modules/gateways/ifthenpay/lib/Base/*
!modules/gateways/ifthenpay/lib/Base/Payments
!modules/gateways/ifthenpay/lib/Base/Payments/*
!modules/gateways/ifthenpay/lib/Builders
!modules/gateways/ifthenpay/lib/Builders/*
!modules/gateways/ifthenpay/lib/Callback
!modules/gateways/ifthenpay/lib/Callback/*
!modules/gateways/ifthenpay/lib/Config
!modules/gateways/ifthenpay/lib/Config/*
!modules/gateways/ifthenpay/lib/Contracts
!modules/gateways/ifthenpay/lib/Contracts/*
!modules/gateways/ifthenpay/lib/Contracts/Builders
!modules/gateways/ifthenpay/lib/Contracts/Builders/*
!modules/gateways/ifthenpay/lib/Contracts/Callback
!modules/gateways/ifthenpay/lib/Contracts/Callback/*
!modules/gateways/ifthenpay/lib/Contracts/Config
!modules/gateways/ifthenpay/lib/Contracts/Config/*
!modules/gateways/ifthenpay/lib/Contracts/Models
!modules/gateways/ifthenpay/lib/Contracts/Models/*
!modules/gateways/ifthenpay/lib/Contracts/Order
!modules/gateways/ifthenpay/lib/Contracts/Order/*
!modules/gateways/ifthenpay/lib/Contracts/Payments
!modules/gateways/ifthenpay/lib/Contracts/Payments/*
!modules/gateways/ifthenpay/lib/Contracts/Repositories
!modules/gateways/ifthenpay/lib/Contracts/Repositories/*
!modules/gateways/ifthenpay/lib/Contracts/Utility
!modules/gateways/ifthenpay/lib/Contracts/Utility/*
!modules/gateways/ifthenpay/lib/Exceptions
!modules/gateways/ifthenpay/lib/Exceptions/*
!modules/gateways/ifthenpay/lib/Facades
!modules/gateways/ifthenpay/lib/Facades/*
!modules/gateways/ifthenpay/lib/Factory
!modules/gateways/ifthenpay/lib/Factory/*
!modules/gateways/ifthenpay/lib/Factory/Callback
!modules/gateways/ifthenpay/lib/Factory/Callback/*
!modules/gateways/ifthenpay/lib/Factory/Cancel
!modules/gateways/ifthenpay/lib/Factory/Cancel/*
!modules/gateways/ifthenpay/lib/Factory/Config
!modules/gateways/ifthenpay/lib/Factory/Config/*
!modules/gateways/ifthenpay/lib/Factory/Payment
!modules/gateways/ifthenpay/lib/Factory/Payment/*
!modules/gateways/ifthenpay/lib/Factory/Repository
!modules/gateways/ifthenpay/lib/Factory/Repository/*
!modules/gateways/ifthenpay/lib/Forms
!modules/gateways/ifthenpay/lib/Forms/*
!modules/gateways/ifthenpay/lib/Forms/Composite
!modules/gateways/ifthenpay/lib/Forms/Composite/*
!modules/gateways/ifthenpay/lib/Hooks
!modules/gateways/ifthenpay/lib/Hooks/*
!modules/gateways/ifthenpay/lib/Log
!modules/gateways/ifthenpay/lib/Log/*
!modules/gateways/ifthenpay/lib/Payments
!modules/gateways/ifthenpay/lib/Payments/*
!modules/gateways/ifthenpay/lib/Payments/Cancel
!modules/gateways/ifthenpay/lib/Payments/Cancel/*
!modules/gateways/ifthenpay/lib/Payments/Data
!modules/gateways/ifthenpay/lib/Payments/Data/*
!modules/gateways/ifthenpay/lib/Repositories
!modules/gateways/ifthenpay/lib/Repositories/*
!modules/gateways/ifthenpay/lib/Request
!modules/gateways/ifthenpay/lib/Request/*
!modules/gateways/ifthenpay/lib/Router
!modules/gateways/ifthenpay/lib/Router/*
!modules/gateways/ifthenpay/lib/Strategy
!modules/gateways/ifthenpay/lib/Strategy/*
!modules/gateways/ifthenpay/lib/Strategy/Callback
!modules/gateways/ifthenpay/lib/Strategy/Callback/*
!modules/gateways/ifthenpay/lib/Strategy/Cancel
!modules/gateways/ifthenpay/lib/Strategy/Cancel/*
!modules/gateways/ifthenpay/lib/Strategy/Form
!modules/gateways/ifthenpay/lib/Strategy/Form/*
!modules/gateways/ifthenpay/lib/Strategy/Hooks
!modules/gateways/ifthenpay/lib/Strategy/Hooks/*
!modules/gateways/ifthenpay/lib/Strategy/Payment
!modules/gateways/ifthenpay/lib/Strategy/Payment/*
!modules/gateways/ifthenpay/lib/Traits
!modules/gateways/ifthenpay/lib/Traits/*
!modules/gateways/ifthenpay/lib/Traits/Logs
!modules/gateways/ifthenpay/lib/Traits/Logs/*
!modules/gateways/ifthenpay/lib/Traits/Payments
!modules/gateways/ifthenpay/lib/Traits/Payments/*
!modules/gateways/ifthenpay/lib/Utility
!modules/gateways/ifthenpay/lib/Utility/*
!modules/gateways/ifthenpay/lib/server
!modules/gateways/ifthenpay/lib/server/*
!modules/gateways/ifthenpay/lib/svg
!modules/gateways/ifthenpay/lib/svg/*
!modules/gateways/ifthenpay/lib/templates
!modules/gateways/ifthenpay/lib/templates/*










!modules/gateways/ccard.php
!modules/gateways/mbway.php
!modules/gateways/multibanco.php
!modules/gateways/payshop.php

!modules/gateways/ccard
!modules/gateways/ccard/*
!modules/gateways/mbway
!modules/gateways/mbway/*
!modules/gateways/multibanco
!modules/gateways/multibanco/*
!modules/gateways/payshop
!modules/gateways/payshop/*




# _dev

node_modules/
!_dev/
