.panel-ifthenpayOrderDetail {
    margin-bottom: 15px;
    .paymentLogo {
        img {
            width:100px;
            height:auto;
            margin-top: 15px;
        }
    }
    .list-group {
        width: 315px;
    }
}