@import "mixins/mixin";

#ifthenpayMbwayPhoneDiv {
    @include mbwayPhoneInput(80%, 3px);
}
.alert-error {
    @include alertError();
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}